<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Braxoia/LaBonneLocation" role="button"
            style="border: none;"><img src="{{ asset('assets/icons/github_icon.png') }}" alt="icon github" width="50"></a>
        </section>
        <section class="mb-4">
            <p>
                Site web réalisé dans le cadre du projet PWEB.
            </p>
        </section>
        <section class="">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Accès rapide</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{ path('index') }}" class="text-white">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('security_login') }}" class="text-white">Connexion</a>
                        </li>
                        <li>
                            <a href="{{ path('security_registration') }}" class="text-white">S'inscrire</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Moyens de paiement</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            Paypal
                        </li>
                        <li>
                            Carte Bleue (Visa, Electron, ...)
                        </li>
                        <li>
                            Chèque à partir de 200€
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nous contacter</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Nous écrire</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Réalisé par :
        <a class="text-white" target="_blank" href="https://github.com/Braxoia">AHBIB Ibrahime et Laurent Ngeht</a>
    </div>
</footer>